
# sst
.sst

# dependencies
node_modules
.pnp
.pnp.js

# local env files
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example

# debug
.pnpm-debug.log*

# misc
*.pem
.dev.vars

# output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

